<div class="col-mb-12 col-8" id="main" role="main">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="post-title" itemprop="name headline">
            <a itemprop="url" href="<%= url_for(page.path) %>"><%= page.title %></a>
        </h1>
        <ul class="post-meta">
            <li itemprop="author" itemscope itemtype="http://schema.org/Person">
                作者: <a itemprop="name" href="<%= url_for(page.path) %>" rel="author"><%= page.author %></a>
            </li>
            <li>时间: <time datetime="<%= page.date.toISOString() %>" itemprop="datePublished"><%= page.date.format('YYYY-MM-DD') %></time></li>
            <li>分类: <%= page.categories && page.categories.length ? page.categories.map(function(c) { return '<a href="' + url_for(c.path) + '">' + c.name + '</a>'; }).join(', ') : '未分类' %></li>
        </ul>
        <div class="post-content" itemprop="articleBody">
            <%= page.content %>
        </div>
        <p itemprop="keywords" class="tags">标签: <%= page.tags && page.tags.length ? page.tags.map(function(t) { return '<a href="' + url_for(t.path) + '">' + t.name + '</a>'; }).join(', ') : '无' %></p>
    </article>
    <ul class="post-near">
        <% if (page.prev) { %><li>上一篇: <a href="<%= url_for(page.prev.path) %>"><%= page.prev.title %></a></li><% } else { %><li>上一篇: 没有了</li><% } %>
        <% if (page.next) { %><li>下一篇: <a href="<%= url_for(page.next.path) %>"><%= page.next.title %></a></li><% } else { %><li>下一篇: 没有了</li><% } %>
    </ul>
</div>
<div class="col-mb-12 col-offset-1 col-3 kit-hidden-tb" id="secondary" role="complementary">
    <section class="widget">
        <h3 class="widget-title">最新文章</h3>
        <ul class="widget-list">
            <% site.posts.slice(0, 5).forEach(function(post) { %>
                <li><a href="<%= url_for(post.path) %>"><%= post.title %></a></li>
            <% }); %>
        </ul>
    </section>
    <section class="widget">
        <h3 class="widget-title">分类</h3>
        <ul class="widget-list">
            <% site.categories.forEach(function(cat) { %>
                <li><a href="<%= url_for(cat.path) %>"><%= cat.name %></a> (<%= cat.posts.length %>)</li>
            <% }); %>
        </ul>
    </section>
    <section class="widget">
        <h3 class="widget-title">归档</h3>
        <ul class="widget-list">
            <% var archiveMap = {}; site.posts.forEach(function(post) { var ym = post.date.format('YYYY/MM'); archiveMap[ym] = (archiveMap[ym] || 0) + 1; }); var yms = Object.keys(archiveMap).sort().reverse(); yms.forEach(function(ym) { %>
                <li><a href="<%= url_for('/archives/' + ym + '/') %>"><%= ym.replace('/', '年') + '月' %></a> (<%= archiveMap[ym] %>)</li>
            <% }); %>
        </ul>
    </section>
    <section class="widget">
        <h3 class="widget-title">其它</h3>
        <ul class="widget-list">
            <li><a href="<%= url_for('/admin/') %>">管理后台</a></li>
            <li><a href="<%= url_for('rss2.xml') %>">文章 RSS</a></li>
        </ul>
    </section>
</div>